/* Tour START */

.joyride-modal-bg {
  opacity: 0.75;
}

.joyride-close-tip {
  cursor: pointer;
}

.joyride-tip-guide {
  .joyride-next-tip {
    background: $colorSecondary;
    border: none !important;
    border-radius: 0;
    color: $darkGray !important;
    outline: none !important;

    &:disabled {
      background: $gray;
      color: $black !important;

      &:hover {
        background: $gray;
        color: $black !important;
      }
    }

    &:hover {
      background: $colorPrimary;
    }
  }

  &[data-index='2'] {
    left: 1575px !important;
    margin-top: -20px;
    position: fixed;

    @media (max-width: $screenSmMin) {
      left: 5px !important;
      margin-top: -50px;
    }

    > .joyride-nub {
      left: initial;
      right: 31px;
    }
  }
}

/* Tour END */

.absolute-center {
  bottom: 0;
  display: table;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

.parallax-block {
  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  > .parallax-content {
    @extend .absolute-center;
  }
}

.image-tint {
  background-color: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45));
}

.pin {
  left: 50%;
  z-index: 999;
}

.pin:before {
  left: 0;
  top: -23px;
  color: #000;
  font-size: 23px;
  content: "\f276";
  font-family: FontAwesome;
  -o-transform: rotate(13deg);
  -webkit-transform: rotate(13deg);
  -moz-transform: rotate(13deg);
  -ms-transform: rotate(13deg);
  transform: rotate(13deg);
}

#notifications-center {
  z-index: 10;
  position: fixed;

  > .alert {
    border: 1px solid;
    bottom: 10px;
    display: none;
    left: 50%;
    margin-left: -113px;
    opacity: .95;
    padding: 5px 15px;
    position: fixed;
    text-align: center;
    width: 231px;

    @include noBorderRadius;

    > .fa:before {
      margin-right: 5px;
    }
  }

  > .close-alert {
    cursor: pointer;
  }
}

.feedback,
.nav > li#feedback {
  z-index: 999;
  border: 5px solid #063;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
}

.feedback {
  top: 45%;
  width: 65px;
  height: 175px;
  padding: 15px;
  position: fixed;
  background: url(/images/feedback.png) center no-repeat #063;
  -ms-background-size: 50px 125px;
  background-size: 50px 125px;
  background-color: rgba(0, 102, 51, 0.9);
}

.nav > li#feedback {
  width: 131px;
  height: 50px;
  background: url(/images/feedback-nav.png) center no-repeat #063;
  -ms-background-size: 99px 40px;
  background-size: 99px 40px;
  background-color: rgba(0, 102, 51, 0.9);
}

.feedback.left {
  left: 0;
  border-left: none;
}

.feedback.right {
  right: 0;
  border-right: none;
}

.feedback:hover {
  background-color: #063;
}

.dropdown-link {
  height: 50px;
  border: none;
  outline: 0;
  color: $socialText;
  background: 0 0;
}

.dropdown-list .dropdown-menu {
  top: 101%;
  margin: 0;
  padding: 0;
  max-height: 0;
  display: block;
  overflow: hidden;
  border: 3px solid #4c4c4c;
  border-top: none;
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  visibility: hidden;
  background-color: #4c4c4c;
  -ms-transition-property: max-height;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  -ms-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -ms-border-top-right-radius: 0;
  border-top-right-radius: 0;
}

.dropdown-list.active .dropdown-menu {
  padding: 0;
  max-height: 525px;
  visibility: visible;
  border: 3px solid #4c4c4c;
  border-top: none;
}

.dropdown-header {
  color: $colorPrimary;
  font-size: 15px;
  font-weight: 700;
}

.dropdown-menu .divider {
  margin: 0;
}

.dropdown-menu > li > a {
  color: $socialText;
  font-size: 13px;
  padding: 13px 31px;
}

.dropdown-menu > li > a:hover {
  color: $socialText;
  background-color: $colorPrimary;
  background-color: rgba(1, 151, 152, 0.3);
}

.alert {
  padding: 5px;
}

.alert > ol,
.alert > ul {
  list-style-type: none;
  margin: 0;
}

.alert > ol > li,
.alert > ul > li {
  position: relative;
}

.alert > ol > li:before,
.alert > ul > li:before {
  content: "\f071";
  font-family: FontAwesome;
  left: -20px;
  margin-right: 3px;
  position: absolute;
}

.field-validation-error {
  top: 7px;
  padding: 5px;
  color: $socialText;
  margin-bottom: 3px;
  margin-right: 13px;
  background: #b94a48;
  border: 1px solid #b94a48;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.field-validation-error:before {
  top: -5px;
  left: 20px;
  content: '';
  position: absolute;
  border-bottom: 5px solid #b94a48;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.input-validation-error {
  border: 1px solid #b94a48 !important;
}

.validation-summary {
  display: none;
}

label.inline-checkbox {
  cursor: pointer;
  display: initial;
  font-weight: 700;
  position: relative;
}

label > input[type=checkbox] {
  top: 3px;
  right: 3px;
  cursor: pointer;
  position: relative !important;
}

input,
input.form-control,
select,
textarea {
  border-color: $cta !important;
  border-radius: 0;
  max-width: 280px;
}

.btn {
  border-radius: 3px;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 40px;
  text-transform: uppercase;

  &.btn-wide {
    width: 100%;
  }

  &.btn-default,
  &.btn-default-inverted:hover {
    background-color: rgba($cta, 0.9);
    border: 1px solid $cta;
    color: $siteBg;

    @media (max-width: $screenSmMax) {
      background: $cta;
    }
  }

  &.btn-default-inverted,
  &.btn-default:hover {
    background: $cta;
  }

  + .btn {
    margin: 3px 0;
  }

  > .icon {
    color: $text;
  }
}

body.modal-open {
  overflow: auto;
  padding-right: 0 !important;
}

#logout h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 700;
}

hgroup {
  margin: 25px 0;
}

hgroup h1,
hgroup h2,
hgroup h3,
hgroup h4,
hgroup h5,
hgroup h6 {
  margin: 0;
  font-weight: 700;
}

hr {
  @include borderTop1($colorPrimary);

  border-top: 1px solid rgba($colorPrimary, 0.25);
}

.hr-text {
  text-align: center;

  > b {
    color: $mdGreen;
    padding-left: 10px;
    padding-right: 5px;
    position: relative;
    top: 2px;

    &.add:before {
      color: $user;
      content: "\f0fe";
      font-family: FontAwesome;
    }

    &.facebook:before {
      color: $facebook;
      content: "\f09a";
      font-family: FontAwesome;
    }

    &.google:before {
      color: $google;
      content: "\f0d5";
      font-family: FontAwesome;
    }

    &.or:before {
      content: "or";
    }

    &.user:before {
      color: $user;
      content: "\f007";
      font-family: FontAwesome;
    }

    &.wrench:before {
      content: "\f0ad";
      font-family: FontAwesome;
    }
  }

  > b.text,
  hr {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    padding-right: 5px;
  }

  > hr {
    border: none;
    border-top: medium double #666;
    color: #666;
    padding: 0;
    text-align: center;
    width: 35%;
  }
}

.row > .vertical-center {
  display: inline-block !important;
  float: none;
  vertical-align: middle;
}

a,
button,
input {
  &.btn {
    &.btn-external {
      outline: none;
      width: 225px;

      + button.btn-external {
        margin-top: 5px;
      }

      &.btn-facebook {
        background: $facebook;
        display: block;
        font-weight: 700;

        &:before {
          content: "\f09a";
          font-family: FontAwesome;
          margin-right: 5px;
          padding-right: 10px;

          @include borderRight2($socialText);
        }

        &:hover {
          color: $siteBg;

          @include border1($siteBg);
        }
      }

      &.btn-google-plus {
        background: $google;
        display: block;
        font-weight: 700;

        &:before {
          content: "\f0d5";
          font-family: FontAwesome;
          margin-right: 5px;
          padding-right: 10px;

          @include borderRight2($socialText);
        }

        &:hover {
          color: $siteBg;

          @include border1($socialText);
        }
      }
    }
  }
}

.social-square.fa {
  background-color: $socialText;
  color: $socialText;
  font-size: 31px;
  height: 50px;
  margin: 5px;
  padding-top: 7px;
  width: 50px;

  @include borderRadius(5px);

  &.fa-facebook {
    color: $facebook;

    @include border3($facebook);

    &:hover {
      background-color: $facebook;
      color: $socialText;
    }
  }

  &.fa-google-plus {
    color: $google;

    @include border3($google);

    &:hover {
      color: $socialText;
      background-color: $google;
    }
  }

  &.fa-twitter {
    color: $twitter;

    @include border3($twitter);

    &:hover {
      color: $socialText;
      background-color: $twitter;
    }
  }
}

.input.fa {
  bottom: 5px;
  color: #333;
  position: relative;
}

.form-control.icon {
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  display: inline-block;
}

.short-border {
  width: 75%;
  height: 5px;
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid #333;
  border-top: none;
}

.short-border > span.placeholder {
  bottom: 0;
  left: 10px;
  color: #0059bf;
  font-size: 17px;
  position: absolute;
}

.short-border > .select2-container {
  margin: 0;
  bottom: 23px;
  width: 100% !important;
}

.error-page,
.modal-account > .modal-dialog > .modal-content > .modal-body p,
.modal-account > .modal-dialog > .modal-content > .modal-body > .logo,
.modal-account > .modal-dialog > .modal-content > .modal-body > form#form-login .form-group,
.modal-account > .modal-dialog > .modal-content > .modal-body > form#form-register .form-group,
body .loading,
body .loading > p {
  text-align: center;
}

.pop-out {
  color: $colorPrimary;

  > i {
    top: 25%;
    left: 40%;
    font-size: 313px;
    position: absolute;

    @media (max-width: $screenSmMin) {
      font-size: 131px;
    }
  }

  @media (max-width: $screenSmMin) {
    margin-left: -65px;
  }
}