#org {
  #utility-menu {
    bottom: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 25px;
    text-align: right;
    z-index: 1;

    &.open {
      width: 313px;

      @media (max-width: $screenSmMin) {
        width: 213px;
      }
    }

    @media (max-width: $screenSmMin) {
      bottom: 10px;
      right: 5px;

      #utility-menu.open {
        width: 175px;
      }
    }

    > li {
      padding: 5px;
      cursor: pointer;
      position: relative;

      &.menu {
        &.open {
          color: $colorPrimary;
        }

        h3 {
          top: 0;
          right: 0;
          color: $black;
          display: block;
          position: relative;
        }
      }

      &:hover {
        .icon,
        a > h3,
        > h3 {
          color: $colorPrimary;
        }
      }

      a > h3,
      > h3 {
        margin: 0;
        bottom: 5px;
        right: 131px;
        font-size: 23px;
        position: absolute;
        color: $colorSecondary;

        @media (max-width: $screenSmMin) {
          right: 85px;
          font-size: 15px;
        }
      }

      a > button,
      > button {
        background-color: $colorSecondary;
        background-color: rgba($colorSecondary, 0.95);
        border: none;
        color: $black;
        font-size: 45px;
        height: 113px;
        outline: 0;
        position: relative;
        text-transform: uppercase;
        width: 113px;

        &.btn-menu {
          @include border1($colorPrimary);

          @include boxShadow(0 0 13px 1px, $colorPrimary, 0.75);

          > h3 {
            padding: 0;
            border: none;
            margin-top: 0;
            background: 0 0;
          }

          > aside.trial {
            bottom: -20px;
            font-size: 13px;
            left: 50%;
            margin-left: -56.5px;
            position: absolute;
            right: 0;

            @media (max-width: $screenSmMin) {
              margin-left: -37.5px;
            }
          }
        }

        &.btn-menu > h3 {
          font-size: 20px;

          @media (max-width: $screenSmMin) {
            font-size: 15px;
          }
        }

        &.btn-menu #utility-menu > li a > button.my-restrictions,
        &.my-restrictions {
          font-size: 31px;

          @media (max-width: $screenSmMin) {
            font-size: 20px;
          }
        }

        &:hover {
          > i.fa {
            color: $colorPrimary;
          }
        }

        > i.fa {
          color: $black;
        }

        > h3 {
          top: 50%;
          right: 113px;
          font-size: 13px;
          padding: 5px 10px;
          position: absolute;
          color: $colorPrimary;

          @media (max-width: $screenSmMin) {
            right: 75px;
          }
        }

        @media (max-width: $screenSmMin) {
          font-size: 35px;
          height: 75px;
          width: 75px;
        }
      }
    }
  }
}