body {
    md-backdrop {
        &.md-opaque {
            height: 100% !important;
        }
    }

    &.dialog-confirm {
        @media (max-width: $screenXsMax) {
            position: relative !important;
        }

        > .md-dialog-container {
            > md-dialog {
                padding: 0 15px;

                @media (max-width: $screenXsMax) {
                    padding: 0;
                }

                > .md-dialog-content {
                    > .md-title {
                        color: $colorPrimary;
                    }
                }
            }
        }
    }

    &.md-dialog-is-showing {
        > .md-dialog-container {
            > md-dialog {
                padding: 5px 0;

                &.md-default-theme {
                    background-color: $white;
                    border-radius: 0;
                }

                > .md-dialog-content {
                    > .md-title {
                        color: $colorPrimary;
                    }

                    > md-input-container {
                        > .md-input {
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}