$cta: #097a70;
$colorAccent: #faebd7;
$colorDefault: #708e25;
$colorLink: #7bbe56;
$colorPrimary: #a5f2f3;
$colorSecondary: #7bbe56;
$dark: #111111;
$sectionBg: #f3f3f3;
$separator: #cecece;
$siteBg: #ffffff;
$text: #1b1b1b;