.drawer-nav {
  align-items: initial;
  padding-top: 56px;
  vertical-align: initial;
  width: 75%;

  > aside {
    width: 100%;

    > ul {
      > li {
        font-size: 20px;
        font-weight: 300;

        &.active {
          background-color: $lighterGray;
          font-size: 23px;
          font-weight: 400;
        }

        &.greeting-item {
          > span {
            padding: 0;

            > .greeting {
              font-size: 31px;
              line-height: 31px;
              padding: 10px;
              width: 100%;

              @include borderBottom1($lightestGray);

              > h1 {
                font-size: 31px;
                line-height: 31px;

                span {
                  display: block;

                  &.name {
                    font-weight: 500;
                  }
                }
              }
            }
          }
        }

        > span {
          padding: 0;

          > a {
            color: $text;
            padding: 8px 15px;
            width: 100%;
          }
        }
      }
    }
  }
}