.drawer {
  align-items: initial;
  padding-top: 56px;
  vertical-align: initial;
  width: 75%;

  > aside {
    width: 100%;

    > .list {
      > .listItem {
        font-size: 20px;
        font-weight: 300;

        &.active {
          background-color: $lighterGray;
          font-size: 23px;
          font-weight: 400;
        }

        &.greeting-item {
          > .item {
            padding: 0;

            > .greeting {
              font-size: 31px;
              line-height: 31px;
              padding: 10px;
              width: 100%;

              @include borderBottom1($lightestGray);

              > h1 {
                font-size: 31px;
                line-height: 31px;

                .name {
                  display: block;
                  font-weight: 500;
                }
              }

              > .md-button {
                background-color: $sectionBg;
                background-color: rgba($sectionBg, 0.55);
                border-radius: 0;
                color: $colorPrimary;
                font-weight: bold;
                margin: 5px 0 0;
                text-transform: lowercase;
                width: 75px;

                @include border1($siteBg);

                &:not([disabled]):hover {
                  background-color: $colorPrimary;
                  background-color: rgba($colorPrimary, 0.75);
                }

                > .fa {
                  margin-right: 5px;
                }
              }
            }
          }
        }

        > .item {
          > a {
            color: $text;
          }
        }
      }
    }
  }
}