#nav-bar {
  > .nav {
    bottom: 0;
    margin: 0;
    padding-right: 15px;
    position: absolute;
    right: 0;
    top: 0;

    > li {
      padding: 15px 25px;

      &.nav-slide-toggle {
        display: block;
        cursor: pointer;
        font-size: 31px;
        padding: 0;

        &.nav-slide-toggle {
          color: $cta;
        }

        &.show-nav-slide {
          > .icon:before {
            content: "\f00d";
          }
        }

        &.hide-nav-slide {
          > .icon:before {
            content: "\f0c9";
          }
        }
      }

      > a {
        color: $siteBg;
        font-size: 16px;
        font-weight: 300;
        padding: 0;

        &:focus,
        &:hover,
        &.active {
          background: none;
          color: $cta;
          font-weight: 700;
        }
      }
    }
  }
}