.nav {
  @media (max-width: $screenSmMax) {
    display: none;
  }

  > .link[data-react-toolbox=link] {
    color: $siteBg;
    margin: 0 15px;
  }

  + .button {
    &.toggle {
      > .icon {
        font-size: 25px;
      }
    }
  }
}