.nav {
  @media (max-width: $screenXsMax) {
    display: none;
  }

  > .link-group {
    display: inline-block;

    > .link {
      display: inherit;

      + .link {
        &:before {
          content: '/';
          margin: 0 3px;
          opacity: 0.5;
        }
      }
    }
  }

  > .link[data-react-toolbox=link] {
    color: $siteBg;
    cursor: pointer;
    margin: 0 15px;
  }

  + .rightIcon {
    &.toggle {
      > .icon {
        font-size: 25px;
      }
    }
  }
}