// Default Colors
$user: #ffad5a;
$white: #ffffff;
$black: #000000;

// Material Design
$mdGreen: #4caf50;
$mdGreen: #259b24;
$mdGrayDark: #424242;

// Social Media
$facebook: #3a5795;
$google: #df4a32;
$instagram: #a37057;
$instagramAlt: #dfd4c3;
$socialText: #f3f7f7;
$twitter: #4ac9f4;

// Gray Colors
$gray: #666666;
$darkGray: #4c4c4c;
$darkGray: #424242;
$mediumGray: #b3b3b3;
$lightGray: #cccccc;
$lighterGray: #d3d3d3;
$lighterGray: #e3e3e3;
$lightestGray: #f3f3f3;
$opaqueGray: #232728;

// Favorites
$favoriteStar: #daa520;
$favoriteHeart: #dc143c;
$ratingStar: #daa520;

$bulbYellow: #e59400;
$errorRed: #b94a48;
$excludedRed: #c02001;
$includedGreen: #008000;
$feedbackGreen: #006633;
$mapMarker: #f86056;
$salmon: rgb(255, 144, 130);
$stickyNoteYellow: #eae672;