.appBar {
  &.header {
    font-size: 16px;

    > .inner {
      > .rightIcon {
        display: none;

        @media (max-width: $screenSmMax) {
          display: initial;
        }
      }
    }
  }
}