.appBar {
  &.header {
    font-size: 16px;
    z-index: 500;

    > .rightIcon {
      display: none;

      @media (max-width: $screenSmMax) {
        display: initial;
      }

      > .icon {
        font-size: 25px;
      }
    }

    > .title {
      color: $siteBg;
      font-size: 23px;
      font-weight: 300;
    }
  }
}