::-webkit-scrollbar {
  overflow-y: overlay;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 13px rgba($colorPrimary, 0.31);
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 13px rgba($colorPrimary, 0.31);
}

.pre-scrollable {
  overflow-y: overlay;
}

html {
  background-color: $siteBg;

  body {
    background-color: $siteBg;
    color: $text;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-y: overlay;
    padding-top: 64px;
    padding-bottom: 50px;

    &.busy {
      > .page-disabled {
        display: block;
      }

      #busy-spinner {
        display: block;
      }

      &.search {
        > .page-disabled {
          background-color: rgba($darkGray, 0.45);
        }

        #busy-spinner {
          display: none;
        }

        #search-close {
          display: block;
          outline: none;
          display: none;
        }
      }
    }

    &.modal-open {
      overflow: hidden;
    }

    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .n .ng-cloak,
    .x-ng-cloak {
      display: none !important;
    }

    /* Links START */
    a,
    a:focus,
    a:hover {
      background-color: none;
      color: $colorSecondary;
      outline: none;
      text-decoration: none;
    }

    a > .fa,
    a > .fa {
      font-size: 1.25em;
      margin-right: 5px;
      position: relative;
      top: 2px;
    }

    /* Links END */
    .loading {
      color: $colorPrimary;
      font-size: 23px;
      margin-top: 15px;
      text-align: center;

      > i.fa {
        font-size: 50px;
        margin-bottom: 5px;
      }

      > p {
        font-weight: bold;
        text-align: center;
        margin-bottom: 5px;
      }

      @media (max-width: $screenSmMin) {
        font-size: 13px;
      }
    }

    i.close-alert {
      cursor: pointer;
    }

    .alert-ayce {
      background-color: rgba($colorPrimary, 0.31);
      border-color: $colorPrimary;
      border-radius: 0;
      color: $black;
      font-weight: bold;
      margin: 0;
      text-align: center;

      &.alert-braintree {
        background-color: rgba($mdGreen, 0.31);
        border-color: $mdGreen;
      }
    }
  }
}

#app {
  overflow-y: hidden;

  > .container {
    padding: 0;
    width: 100%;

    > #main-content {
      section {
        &.full {
          background-color: $sectionBg;
          margin: 0 -15px;

          @media (max-width: $screenSmMin) {
            margin: 0;
            padding: 0 10px;
          }
        }
      }

      > #content-wrapper {
        padding: 50px 15px;

        @media (max-width: $screenSmMax) {
          padding: 25px 10px;
        }

        .content-title {
          font-size: 45px;
          text-align: center;
          text-transform: uppercase;

          + .sub-title {
            margin-top: 20px;
          }

          + hr {
            border-color: $separator;
            border-width: 2px;
            margin: 35px auto;
            text-align: center;
            width: 50px;

            + .content {
              margin-top: 0;
            }
          }
        }
      }
    }
  }

  /* Headings START */
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6 .h6 {
    color: $cta;
    font-weight: 300;
    margin-top: 0;
  }

  p {
    font-weight: 700;
  }

  .title-link {
    display: inline-block;

    .title-image {
      height: 75px;
      margin-right: 10px;

      @media (max-width: $screenSmMin) {
        background-color: $white;
        display: inline-block;
        float: none;
        height: 45px;
        margin-left: 0;
        max-width: 131px;
        padding: 3px;
        vertical-align: middle;
      }
    }
  }

  .title-info {
    display: inline-block;
    vertical-align: top;

    @media (max-width: $screenSmMin) {
      margin: 10px 15px 10px;
    }

    > h1 {
      margin: 0;
      margin-top: -5px;

      @media (max-width: $screenSmMin) {
        font-size: 20px;
      }
    }

    > .item-utility {
      font-size: 25px;
      margin-right: 5px;

      @media (max-width: $screenSmMin) {
        font-size: 17px;
      }
    }

    > .cuisines {
      margin: 0;
    }
  }

  h1 {
    i {
      color: $colorSecondary;
    }

    > .badge {
      border-radius: 0;
      float: right;
      font-size: 31px;

      @media (max-width: $screenSmMin) {
        font-size: 20px;
        padding: 5px;
      }
    }
  }

  .h1-big {
    color: $colorPrimary;
    font-size: 45px;

    &:not(:first-of-type) {
      margin-left: 5px;
    }

    &.c {
      font-size: 65px;
    }
  }

  @media (max-width: $screenSmMin) {
    h1 {
      font-size: 25px;
    }

    h2 {
      font-size: 21px;
    }

    h3 {
      font-size: 17px;
    }
  }

  /* Headings END */

  /* Content START */
  .badge {
    color: $black;
    cursor: pointer;
    font-size: 17px;
    padding: 3px 10px;
    background: $siteBg;

    @media (max-width: $screenSmMin) {
      font-size: 13px;
      padding: 3px 5px;
    }
  }

  .fa:before {
    margin-right: 3px;
  }

  /* Content END */
}

/* Set padding to keep content from hitting the edges */

span.tm {
  font-size: 13px;
  vertical-align: super;
}

/* Content */

.turq {
  color: $colorPrimary;
}

.row {
  margin: 0;
}

/*p {
    line-height: 1.9em;
}*/

figcaption {
  font-size: 13px;
  color: #2c2c2c;
}

/* Listings */

.list-item h3 > a {
  color: inherit;
  text-decoration: none;
}

.list-item h3 > a:hover {
  color: $colorPrimary;
}

.listing > .list-item > .action .fa.fa-angle-right {
  color: $colorPrimary;
  font-size: 31px;
}