#panel-1 {
  background-color: $lightestGray;
  text-align: center;

  > .parallax-content {
    > .content-title {
      font-size: 60px;
      line-height: 60px;

      @media (max-width: $screenSmMax) {
        font-size: 35px;
        line-height: 35px;
      }

      + .sub-title {
        font-weight: 400;
        font-style: italic;
      }
    }

    > .content {
      margin-top: 50px;

      @media (max-width: $screenSmMax) {
        margin-top: 25px;
      }
    }
  }
}