doctype html

html

    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")

        meta(name="description" content="#{description}")

        link(rel="icon" href="/favicon.ico" type="image/x-icon")
        link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")

        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500")

        //- link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
        //- link(rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
        link(rel="stylesheet" type="text/css" href="//cdn.muicss.com/mui-0.9.9/css/mui.min.css")
        link(rel="stylesheet" href="./css/app.min.css")
        link(rel="stylesheet" href="./css/app.min.gulp.css")

    body

        #app

        //- script(type="text/javascript" src="//code.jquery.com/jquery-2.1.4.min.js" async)
        //- script(type="text/javascript" src="//unpkg.com/react@15/dist/react.js")
        //- script(type="text/javascript" src="//unpkg.com/react-dom@15/dist/react-dom.js")
        //- script(type="text/javascript" src="//unpkg.com/react-router/umd/ReactRouter.js")
        //- script(type="text/javascript" src="//unpkg.com/react-intl@latest/dist/react-intl.min.js")
        script(type="text/javascript" src="//unpkg.com/react-intl@latest/locale-data/en.js" async)
        //- script(type="text/javascript" src="//cdn.muicss.com/mui-0.9.9/js/mui.min.js" async)
        //- script(type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" async)
        script(type="text/javascript" src="./js/app.min.js" async)
