#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#nav-slide {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 231px;
  left: -231px;
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;

  /* sticky bottom */
  margin-bottom: -160px;
  padding-bottom: 160px;
}

#footer {
  height: 160px;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

@media (min-width: $screenSmMax) {
  // #header {
  //   left: 231px;
  // }

  // #sidedrawer {
  //   transform: translate(231px);
  // }

  // #content-wrapper {
  //   margin-left: 231px;
  // }

  // #footer {
  //   margin-left: 231px;
  // }

  body {
    overflow-y: hidden;

    &.hide-nav-slide #header {
      left: 0;
    }

    &.hide-nav-slide #nav-slide {
      transform: translate(0px);
    }

    &.hide-nav-slide #content-wrapper {
      margin-left: 0;
    }

    &.hide-nav-slide #footer {
      margin-left: 0;
    }
  }
}