#filter-search {
  height: 50px;
  margin-left: -15px;
  position: fixed;
  top: 0;
  z-index: 5;

  @media (max-width: $screenSmMin) {
    margin-left: 0;
    padding: 0;
  }

  button,
  input {
    font-size: 23px;
    height: 50px;
    outline: none;

    @media (max-width: $screenSmMin) {
      font-size: 16px;
    }
  }

  input {
    border: none;
  }

  button {
    border-bottom: none !important;
    border-top: none !important;

    &:focus {
      border-color: $colorPrimary !important;
    }
  }
}

#filter-search-form {
  display: table-row;
}

#filter-dropdown {
  position: initial;

  > .btn-group {
    position: initial;
  }

  label {
    &.active {
      &:before {
        color: $colorPrimary;
        content: "\f00c"; /* fa-check */
        font-family: FontAwesome;
        margin-right: 5px;
      }
    }
  }
}

#filter-options {
  cursor: pointer;
  display: none;
  padding-right: 20px;
  position: absolute;
  top: 50px;
  width: 100%;

  @include borderLeft2($colorPrimary);
}

.filter-option {
  float: left;
  width: 50%;
}

#filter-searchbar {
  max-width: 100%;
  width: 100%;

  &:after {
    content: "\f002";
    font-family: FontAwesome;
  }
}

#filter-search-form label {
  cursor: inherit;
}

#filter-search .filter-results {
  margin: 15px 0;
}

#filter-search .filter-results .filter-list {
  padding: 0;
}

#filter-search .filter-results .filter-list > li:first-child {
  cursor: default;
  margin-right: 0;
  background-color: transparent;
}

#filter-search .filter-results .filter-list > li {
  padding: 0 5px;
  color: #4c4c4c;
  cursor: pointer;
  margin: 3px;
  font-weight: 700;
  display: inline-block;
  list-style-type: none;
  background-color: #d3d3d3;
  -ms-border-radius: 5px !important;
  border-radius: 5px !important;
}

.filter-list > li:first-child:before {
  content: '';
}

.filter-list > li:before {
  font-family: FontAwesome;
  content: "\f00d"; /* fa-times */
}